.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  gap: 2rem;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
  align-self: center;
  width: 300px;
  margin-top: 20px;

}

.dropdown {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #444;
  background-color: #f9f9f9;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  /* height: 60px; */
  /* background-color: red; */
}

.dropdown:focus {
  outline: none;
  border-color: #0070f3;
}

.button {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #0070f3;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.button:hover {
  background-color: #0059c1;
  transform: translateY(-1px);
}

.disabled {
  background-color: #cccccc !important;
  cursor: not-allowed;
}

@media screen and (max-width:600px) {
  .container{
    flex-direction: column;
  }
}